#clock-edge {
position: relative;
width: 500px;
max-width: 500px;
max-height: 500px;
height: 500px;
border-radius: 50%;
border: 5px solid #000;
display: inline-flex;
justify-content: center;
align-items: center;
}